.Button {
	display: inline-block;
	padding: $space-sm $space;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	background-color: transparent;
	color: $color-white;
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	transition: all 0.2s;

	&[disabled] {
		opacity: 0.5;
	}

	&:focus {
		background-color: transparent;
	}

	&:hover {
		background-color: $color-neutral-lighter;
	}
}
