.Paging {
	text-align: center;
	padding: $space-sm $space;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid $color-neutral-lighter;
	background-color: $color-neutral;

	.Button {
		padding-top: $space-xs;
		padding-bottom: $space-xs;
	}

	.Paging-prev {
		order: -1;
	}
}
