.Tracks {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 1rem 1rem;
	padding: $space-sm;

	@include bp(md) {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 2rem;
		padding: $space;
	}

	@include bp(lg) {
		grid-gap: 4rem;
	}
}

.Track {
	justify-content: center;

	&-image {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 100%;
		height: 0;
		margin-bottom: $space-sm;

		img {
			display: none;
		}
	}

	&-info {
		max-width: 300px;
		font-size: 0.9rem;
	}

	&-title {
		font-size: 1em;
		margin: 0 0 0.5rem;
	}

	&-artist {
		margin: 0 0 0.3rem;
	}

	&-date {
		opacity: 0.5;
	}
}

.Track--placeholder {
	display: block;

	.Track-image,
	.Track-title,
	.Track-artist {
		background-color: rgba(#000, 0.3);
	}

	.Track-image {
		margin-bottom: 1rem;
		background-color: rgba(#000, 0.3);

		&:after {
			content: '';
			display: block;
			width: 100%;
			max-width: 300px;
			height: 0;
			padding-top: 100%;
		}
	}

	.Track-info {
		height: 6rem;
	}

	.Track-title {
		&:after {
			content: '';
			display: inline-block;
		}
	}

	.Track-artist {
		width: 80%;

		&:after {
			content: '';
			display: inline-block;
		}
	}
}
