.Tracks {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: .5rem;
	padding: $space-sm;

	@include bp(md) {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 2rem;
		padding: $space;
	}

	@include bp(lg) {
		grid-gap: 4rem;
	}
}

.Track {
	justify-content: center;
	position: relative;

	&-image {
		display: block;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 100%;
		height: 0;
		margin-bottom: $space-sm;
		box-shadow: 0 2px 12px rgba($color-neutral-darker, 0.5);
		position: relative;

		img {
			display: none;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba($color-neutral-darker, 0.8);
			opacity: 0;
			transition: all 0.2s;
		}
	}

	&-info {
		max-width: 300px;
		font-size: 0.9rem;
	}

	&-title {
		font-size: 1em;
		margin: 0 0 0.5rem;
	}

	&-artist {
		margin: 0 0 0.3rem;
	}

	&-date {
		opacity: 0.5;
		font-size: .8em;
	}

	&-links {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-top: 100%;
		background-color: rgba($color-black, .95);

		@include bp(sm, max) {
			padding-top: 0;
			bottom: 0;
		}

		&[aria-hidden="true"] {
			display: none;
		}

		&[aria-hidden="false"] {
			display: block;
		}
	}

	&-link {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.2s;

		&--spotify {
			left: 20%;
		}

		&--youtube {
			right: 20%;
		}
	}

	@include bp(sm, max) {
		display: flex;
		justify-content: flex-start;

		&-image {
			width: 3rem;
			height: 3rem;
			padding: 0;
			margin-right: $space-sm;
			margin-bottom: 0;
		}

		&-title,
		&-artist {
			margin-bottom: 0;
			font-size: .9em;
		}
	}
}

.Track--placeholder {
	display: block;

	.Track-image,
	.Track-title,
	.Track-artist {
		background-color: rgba(#000, 0.3);
	}

	.Track-image {
		margin-bottom: 1rem;
		background-color: rgba(#000, 0.3);

		&:after {
			content: '';
			display: block;
			width: 100%;
			max-width: 300px;
			height: 0;
			padding-top: 100%;
		}
	}

	.Track-info {
		height: 6rem;
	}

	.Track-title {
		&:after {
			content: '';
			display: inline-block;
		}
	}

	.Track-artist {
		width: 80%;

		&:after {
			content: '';
			display: inline-block;
		}
	}
}
